scripts/icon-gen-out/linux_png/tracebite_1024_16x16.png
scripts/icon-gen-out/linux_png/tracebite_1024_24x24.png
scripts/icon-gen-out/linux_png/tracebite_1024_32x32.png
scripts/icon-gen-out/linux_png/tracebite_1024_48x48.png
scripts/icon-gen-out/linux_png/tracebite_1024_64x64.png
scripts/icon-gen-out/linux_png/tracebite_1024_96x96.png
scripts/icon-gen-out/linux_png/tracebite_1024_128x128.png
scripts/icon-gen-out/linux_png/tracebite_1024_256x256.png
scripts/icon-gen-out/linux_png/tracebite_1024_512x512.png
scripts/icon-gen-out/linux_png/tracebite_1024_1024x1024.png
scripts/icon-gen-out/macos_icns/tracebite_1024.icns
scripts/icon-gen-out/windows_ico/tracebite_1024.ico
